# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=tu-project-id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_WRITE_TOKEN=

# Preview / draft mode
DRAFT_MODE_SECRET=

# Vercel (set automatically by Vercel, no need to set manually)
# VERCEL_ENV=preview
